$font-header: 'Proxima Nova', sans-serif;
$font-primary: 'PT Sans', sans-serif;

$color-primary--light: #fff;
$color-primary--dark: #665f60;


$background-color: #9f9acf;
$background-color--light: #ebebeb;